body,
html {
  margin: 0;
  padding: 0;
}

.main-wrapper {
  text-align: center;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 90%;
  text-align: center;
}

.main-wrapper .mute-wrapper {
  width: 50px;
  height: 50px;
}

.main-wrapper .mute-wrapper .mute-button {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-image: url("/assets/unmute-icon.png");
}

.main-wrapper .mute-wrapper .mute-button:hover {
  background-image: url("https://va.sndcdn.com/box/creator-dashbox-usd.jpg");
}

.main-wrapper .text-wrapper {
  font-family: 'Raleway', sans-serif;
  color: white;
  margin-bottom: 1em;
  text-align: center;
  width: 100%;
  height: auto;
}

.main-wrapper .text-wrapper span {
  display: block;
  margin: 0px 0px;
}

.main-wrapper .text-wrapper span i {
  color: #ff6868;
  letter-spacing: 1px;
}

.main-wrapper .text-wrapper span:first-child {
  font-size: 3rem;
}

.main-wrapper .text-wrapper span:last-child {
  font-size: 1.3rem;
}

.main-wrapper .board-wrapper {
  height: 500px;
  width: 100%;
  text-align: center;
}

.main-wrapper .board-wrapper .indicator-wrapper {
  width: 70vh;
  margin: auto;
  padding: 10px 21px;
}

.main-wrapper .board-wrapper .indicator-wrapper .indicator {
  width: 7.5vh;
  height: 7.5vh;
  background-color: #ff6868;
  border-radius: 100px;
  transition: all ease .3s;
}

.main-wrapper .board-wrapper .board {
  display: flex;
  width: 70vh;
  height: 60vh;
  background-color: #0173D4;
  border-radius: 5px;
  margin: auto;
  padding: 10px 10px;
  justify-content: center;
  border: 5px solid #005196;
  border-top: 5px solid #003a6d;
  transition: all ease .5s;
}

.main-wrapper .board-wrapper .board .column {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 13%;
  margin: 0px 6px;
  justify-content: center;
  align-items: center;
}

.main-wrapper .board-wrapper .board .column .spot {
  width: 100%;
  height: 50vh;
  margin: 5px 0px;
  cursor: pointer;
  background-color: #33383d;
  border-radius: 100px;
  position: relative;
  border: 3px solid #003a6d;
  overflow: hidden;
  /*
                    &:after{
                        transition: top 0s;
                        content: '';
                        width: 100%;
                        height: 100%;
                        background-color: red;
                        position:absolute;
                        top: -100%;
                        left: 0;
                        border-radius: 100%;
                    }
                    &:hover{
                        &:after{
                            content: '';
                            width: 100%;
                            height: 100%;
                            background-color: red;
                            position:absolute;
                            top: 100%;
                            left: 0;
                            border-radius: 100%;
                            transition: top 0.3s;
                        }
                    }
                    */
}
/*# sourceMappingURL=game.css.map */