$yellow: #fffc82;
$red: #ff6868;


//Reset
*{
    //box-sizing: border-box;
}

body,
html{
    margin: 0;
    padding: 0;
}

.main-wrapper{
    text-align: center;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 90%;
    text-align: center;


    .mute-wrapper{
        width: 50px;
        height: 50px;
        .mute-button{
            width: 100%;
            height: 100%;
            cursor: pointer;
            background-image: url('/assets/unmute-icon.png');
            &:hover{
                background-image: url('https://va.sndcdn.com/box/creator-dashbox-usd.jpg');
            }
        }
    }

    .text-wrapper{
        font-family: 'Raleway', sans-serif;
        color: white;
        margin-bottom: 1em;
        text-align: center;
        width: 100%;
        height: auto;
        span{
            display: block;
            margin: 0px 0px;

            i{
                color: $red;
                letter-spacing: 1px;
                //text-decoration: underline;
            }

            &:first-child{
                font-size: 3rem;
                
            }
            &:last-child{
                font-size: 1.3rem;
            }
        }
    }

    .board-wrapper{
        
        height: 500px;
        width: 100%;
        text-align: center;
        //padding: 50px;
        .indicator-wrapper{
            width: (7/6)*60vh;
            margin: auto;
            padding: 10px 21px;
            .indicator{
                width: 7.5vh;
                height: 7.5vh;
                background-color: $red;
                //opacity: .7;
                border-radius: 100px;
                transition: all ease .3s;
                box-shadow: 0px 5px 5px #272a2d;
            }
        }
        
        .board{
            display: flex;
            width: (7/6)*60vh;
            height: 60vh;
            background-color: #0173D4;
            border-radius: 5px;
            margin: auto;
            padding: 10px 10px;
            position: relative;
            box-shadow: 0px 5px 5px #272a2d;
            
            justify-content: center;
            //border: 5px solid #005196;
            transition: all ease .5s;

            
            .column{
                display: flex;
                flex-direction: column;
                height: 100%;
                width: 13%;
                //background-color: black;
                margin: 0px 6px;
                justify-content: center;
                align-items: center;
                
                .spot{
                    width: 100%;
                    height: 50vh;
                    margin: 5px 0px;
                    cursor: pointer;
                    background-color: #33383d;
                    border-radius: 100px;
                    position: relative;
                    border: 3px solid #003a6d;
                    overflow: hidden;
                    /*
                    &:after{
                        transition: top 0s;
                        content: '';
                        width: 100%;
                        height: 100%;
                        background-color: red;
                        position:absolute;
                        top: -100%;
                        left: 0;
                        border-radius: 100%;
                    }
                    &:hover{
                        &:after{
                            content: '';
                            width: 100%;
                            height: 100%;
                            background-color: red;
                            position:absolute;
                            top: 100%;
                            left: 0;
                            border-radius: 100%;
                            transition: top 0.3s;
                        }
                    }
                    */
                }
            }
            &:active{
                transform: translateY(5px);
                box-shadow: 0px 0px 0px #272a2d;
            }
        }
    }
}