//Reset
*{
    box-sizing: border-box;
}

body,
html{
    margin: 0;
    padding: 0;
}


//Mixins
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin placeholder{
    &::-webkit-input-placeholder {@content};
    &:-moz-placeholder           {@content};
    &::-moz-placeholder          {@content};
    &:-ms-input-placeholder      {@content};
}




//Body

body{
    background-color: #33383d;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


//Main Container
.home-wrapper{
    text-align: center;
    .title-wrapper{
        width: 100%;
        text-align: center;
        span{
            transition: all ease 0.5s;
            font-family: 'Raleway', sans-serif;
            color: white;
            &:first-child{
                letter-spacing: 5px;
                padding-left: 10px;
                font-size: 5em;
            }
            &:last-child{
                color: #0173D4;
                font-size: 2.2em;
            }
        }
    }
}


//Controls
.control-wrapper{
    margin-top: 2em;
    padding: 0 5px;
    button, input, span{
        font-family: 'Raleway', sans-serif;
        width: 300px;
        height:50px;
        width: 100%;
        margin: 1em 0px;
    }
    span{
        //display: block;
        //margin-top: 500px;
        color: white;
        font-size: 1.2em;
        text-align: center;
    }
    button{
        cursor: pointer;
        background-color: white;
        border-radius: 5px;
        font-size: 1.5rem;
        
        border: none;
        transition: all ease .3s;
        &:hover{
            transform: translateY(-2px);
            box-shadow: 0px 2px 5px black;
        }
    }

    .info-message{
        color: #ff6868;
    }

    input{
        transition: all ease .5s;
        text-align: center;
        margin-bottom: .4rem;
        border: none;
        border-radius: 5px;
        font-size: 1.5rem;
        color: #4c4c4c;
        @include placeholder {
            font-size: 1.5rem;
            color: #4c4c4c;
        }
    }

    .loading-wrapper{
        display: none;
        justify-content: center;
        .letter{
            font-size: 1.5em;
            color: #ff6868;
            font-family: 'Raleway', sans-serif;
            margin: 0px 3px;
        }
    }
}

//Info
.info-wrapper{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
    margin: auto;
    text-align: center;
    span{
        font-size: 1.5rem;
        font-family: 'Raleway', sans-serif;
        margin: 0px 20px;
        
        
       
        a{
            text-decoration: none;
            color: white;
            transition: all ease .3s;
            &:hover{
                color: #0173D4;
            }
        }
    }
}



