* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

#github-banner {
  width: 150px;
}

body {
  background-color: #33383d;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.home-wrapper {
  text-align: center;
}

.home-wrapper .title-wrapper {
  width: 100%;
  text-align: center;
}

.home-wrapper .title-wrapper span {
  transition: all ease 0.5s;
  font-family: 'Raleway', sans-serif;
  color: white;
}

.home-wrapper .title-wrapper span:first-child {
  letter-spacing: 5px;
  padding-left: 10px;
  font-size: 5em;
}

.home-wrapper .title-wrapper span:last-child {
  color: #0173D4;
  font-size: 2.2em;
}

.control-wrapper {
  margin-top: 2em;
  padding: 0 5px;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.control-wrapper button, .control-wrapper input, .control-wrapper span {
  font-family: 'Raleway', sans-serif;
  width: 300px;
  height: 50px;
  width: 100%;
}

.control-wrapper span {
  color: white;
  font-size: 1.2em;
  text-align: center;
}

.control-wrapper button {
  cursor: pointer;
  background-color: white;
  font-size: 1.5rem;
  box-shadow: 0px 5px 0px #b7b7b7;
  border: none;
  transition: all ease .3s;
}

.control-wrapper button:hover {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px #b7b7b7;
}

.control-wrapper .info-message {
  color: #ff6868;
}

.control-wrapper input {
  transition: all ease .5s;
  text-align: center;
  border: none;
  font-size: 1.5rem;
  color: #4c4c4c;
  position: relative;
  box-shadow: 0px 5px 0px #a3a3a3;
}

.control-wrapper input::-webkit-input-placeholder {
  font-size: 1.5rem;
  color: #4c4c4c;
}

.control-wrapper input:-moz-placeholder {
  font-size: 1.5rem;
  color: #4c4c4c;
}

.control-wrapper input::-moz-placeholder {
  font-size: 1.5rem;
  color: #4c4c4c;
}

.control-wrapper input:-ms-input-placeholder {
  font-size: 1.5rem;
  color: #4c4c4c;
}

.control-wrapper .code-wrapper {
  display: flex;
  width: 100%;
  position: relative;
  height: auto;
}

.control-wrapper .code-wrapper .side-box {
  background-color: #b7b7b7;
  position: absolute;
  right: 0;
  height: 100%;
  width: 40px;
  z-index: 1;
  border: 2px solid white;
  transition: all linear 0.1s;
}

.control-wrapper .code-wrapper .side-box svg {
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: -2px;
  color: #ff6868;
  width: 30px;
  height: 50px;
  z-index: 2;
}

.control-wrapper .code-wrapper .side-box:hover {
  background-color: #33383d;
}

.control-wrapper .loading-wrapper {
  display: none;
  justify-content: center;
}

.control-wrapper .loading-wrapper .letter {
  font-size: 1.5em;
  color: #ff6868;
  font-family: 'Raleway', sans-serif;
  margin: 0px 3px;
}

.info-wrapper {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 50px;
  margin: auto;
  text-align: center;
}

.info-wrapper span {
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
  margin: 0px 20px;
}

.info-wrapper span a {
  text-decoration: none;
  color: white;
  transition: all ease .3s;
}

.info-wrapper span a:hover {
  color: #0173D4;
}
/*# sourceMappingURL=home.css.map */