<link rel="stylesheet" href="css/game.css">
<link rel="stylesheet" href="css/resize.css">
<div class="main-wrapper">
    <!--
    <div class="mute-wrapper">
        <div class="mute-button"></div>
    </div>
-->
    <div class="text-wrapper">
        <span class="message">WAITING FOR A FRIEND</span>
        <button class="replay-button" ng-click="replayClicked()">Click For Rematch</button>
        <br>
        <span id="share">Share This Link With A Friend:</span>
        <br>
        <div class="code-container"><input class="share-input"><button class="copy-button">Copy</button></div>

    </div>
    <div class="board-wrapper">
        <div class="indicator-wrapper">
            <div class="indicator" >

            </div>
        </div>
        
        <div class="board">
            
            <div class="column" ng-repeat="i in [1,2,3,4,5,6,7]">
                <div class="spot" id="{{i}}-{{j}}" ng-repeat="j in [1,2,3,4,5,6]" ng-mouseover="spotHovered(i,$event)"  ng-click = "spotClicked($event)">

                </div>
            </div>
        
        </div>
    </div>
</div>